body, html {
    margin: 0;
    padding: 0;

}

header {
    width: 100%;
    height: 70px;
    background-color: #282828;

}

h1 {
    font-family: 'Alfa Slab One', cursive;
    color: #423289;
}

.navbar-toggler-icon {
    display: block;
    width: 38px;
    height: 1px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 9px 0;
    background-color: #fff;
}

.navbar-toggler {
    display: block;
}

.container-fluid {
    padding: 0;
}

.navbar-collapse {
    background-color: #282828;
    z-index: 10000000;
}

.navbar-nav .nav-link {
    font-size: 20px;
    padding: 0;
}

.header {
    margin: 50px 0 0;
    color: white;
    background: #39ca74;
    text-align: center;
    border: 3px solid #39ca74;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    padding: 20px;
}

span {
    color: #ffffff;

}

ul {
    width: auto;
    float: right;
    margin-top: 8px;

}

li {
    display: inline-block;
    padding: 15px 15px;

}

a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;

}

a:hover {
    color: #F0c330;
    transition: 0.5s;
}


.Pcontent {
    font-size: 35px;
}

.headerP {
    margin-left: 0;
    margin-top: 60px;
    color: white;
    background: #39ca74;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    padding: 20px;
}

form {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0 0 10px 10px;
}

.input-group {
    margin: 10px 0 10px 0;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 5px;
}

.input-group input {
    height: 20px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid grey;
}

.xd {
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid grey;
}

.btn {
    margin: 0 auto;
    padding: 10px 30px;
    font-size: 15px;
    color: white;
    background: #39ca74;
    border: none;
    border-radius: 5px;
}

.input-group2 {
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid grey;
}

.input-group2 {
    margin: 10px 0 10px 0;
}

.input-group2 label {
    display: block;
    text-align: left;
    margin: 5px;

}

.input-group2 input {
    height: 20px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid grey;

}

.error {
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}


.table2 {
    border-collapse: collapse;
    width: 100%;
    color: #282828;
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    margin-top: 130px;
}

th {
    background-color: #39ca74;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.my {
    background: #282828;
    text-align: center;
    border: 2px solid #282828;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    margin-top: 30px;
    font-family: 'Alfa Slab One', cursive;
    color: #39ca74;
}

.mys {
    color: #ffffff;
}

.thanks {
    color: #015A40;
    font-size: 45px;
}
.navbar-nav{
    margin-left: auto;
}

@media screen and (max-width: 991px){
    .navbar-nav {
        width: 100%;
    }
}