.Abody{
	font-size: 120%;
	background: #992828;
}
.Aheader{
	width: 30%;
	margin: 50px auto 0;
	color: white;
	background: #992828;
	text-align: center;
	border: 2px solid #f2f2f2;
	border-bottom: none;
	border-radius: 10px 10px 0 0 ;
	padding: 20px;
}

.Aform{
	margin:0 auto;
	padding: 20px;
	border: 2px solid #f2f2f2;
	background: white;
	border-radius: 0 0 10px 10px;
}

.input-groupA{
	margin: 10px 0;
}

.input-groupA label{
	display: block;
	text-align: left;
	margin: 3px;
}

.input-groupA input{
	height: 45px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border:2px solid grey;
	margin: 0 auto;
}

.btnA{
	padding: 11px 20px;
	font-size: 20px;
	color: white;
	background: #992828;
	border: none;
	border-radius: 5px;
	margin-top: 25px;
}

.error{
	width: 92%;
	margin: 0 auto;
	padding: 10px;
	border:1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}